* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  -webkit-overflow-scrolling: touch;
}

.content {
  width: 100%;
  background-image: url("./assets/images/bg.png");
}

h1 {
  color: red;
}
